@import '@/styles/variables.scss';

.details {
  position: fixed;
  overflow: auto;
  right: -100%;
  background: map-get($theme-light, 'background-color');
  color: map-get($theme-light, 'card-text');
  height: calc(100vh - $header-height);
  width: $details-width;
  min-width: $details-width;
  padding: 30px 5px 70px;
  animation: appear 0.15s linear forwards;

  [data-theme='dark'] & {
    background: map-get($theme-dark, 'background-color');
    color: map-get($theme-dark, 'card-text');
  }
}

.img {
  display: flex;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: map-get($theme-light, 'card-title');
  font-size: 1.8rem;

  [data-theme='dark'] & {
    color: map-get($theme-dark, 'card-title');
  }
}

.content {
  padding: 10px;
}

.subtitle {
  margin: 12px 0;
  font-size: 1.2rem;
}

.card-attribute {
  margin: 8px 0;
}

.attribute-name {
  margin-right: 8px;
  text-transform: capitalize;
}

.stat {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted map-get($theme-light, 'card-border');
  margin-bottom: 5px;

  & span:last-child {
    text-align: end;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.15s ease-in;

  &:hover {
    background-color: map-get($theme-light, 'pagination-hover');

    & > .cross {
      fill: map-get($theme-light, 'btn-grey');
    }
  }
}

.cross {
  fill: map-get($theme-light, 'close-cross-color');
  transition: fill 0.15s ease-in;

  [data-theme='dark'] & {
    fill: map-get($theme-dark, 'close-cross-color');
  }
}

@keyframes appear {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

.helper-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  opacity: 0.8;
}

.loader {
  animation: loader 0.8s linear infinite;
  transform: rotate(0) scale(1);
  margin: 0 auto;
  width: 100px;
  display: block;
  margin-top: 125px;
}

@keyframes loader {
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
