@import '@/styles/variables.scss';

.wrapper {
  margin: 30px 0;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
}

.arrow {
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 9999px;
  background: transparent;
  color: $btn-grey;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 0.15s ease-in;

  &:hover {
    background-color: $pagination-hover;
  }

  &:active {
    background-color: $pagination-hover;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: default;
  }
}

.page.active {
  background-color: $pagination-hover;
}
