$header-height: 80px;
$header-btn-height: 40px;

// Colors
$background-color: #fafafa;

$input-back: #fcfefe;

$btn-color: #ffcb03;
$btn-grey: #4d4b4b;

$card-border: #e1e1e1;
$card-back: #f2f2f2;
$card-text: #605f5f;
$card-title: #0078c3;

$title-color: #ef4035;
