@import '@/styles/variables.scss';

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: $title-color;
}

.list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.title-img {
  width: 3rem;
}

.loader {
  animation: loader 0.8s linear infinite;
  transform: rotate(0) scale(1);
  height: 130px;
  margin: 0 auto;
  width: 200px;
  display: block;
  margin-top: 125px;
}

@keyframes loader {
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
