.flyOut {
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 50px;
  background: red;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    margin: 0 10px;
  }
}
