.fly-out {
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 60px;
  background: red;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    margin: 0 10px;
  }
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter {
  text-align: center;
  margin-bottom: 5px;
}
