@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: $header-height;
  padding: 7px 20px;
  box-sizing: border-box;
  background-color: fade-out(map-get($theme-light, 'background-color'), 0.1);
  z-index: 1;

  [data-theme='dark'] & {
    background-color: fade-out(map-get($theme-dark, 'background-color'), 0.1);
  }

  & ~ div {
    padding-top: calc($header-height + 10px);
  }
}

.logo {
  & > img {
    max-height: 70px;
    align-items: center;
    justify-content: center;
  }
}

.err-btn {
  margin-left: 20px;
  @include header-item;
  @include btn;

  &:hover {
    @include btn-hover;
  }
}

.actions {
  display: flex;
}
